.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heading {
  font-size: 1.5rem;
  font-weight: bold;
}
.form {
  display: flex;
  gap: 0.5rem;
}
.input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.button {
  padding: 0.5rem 1rem;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result .button {
  padding: 0.25rem 0.5rem;
  margin-left: 0.25rem;
}
.error {
  color: red;
}
.notice {
  color: green;
}
.result {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}
.icon {
  width: 32px;
  height: 32px;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.map {
  border: 0;
  width: 100%;
  height: 300px;
}

.windIcon {
  width: 16px;
  height: 16px;
  margin-right: 0.125rem;
}

.wind {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.subheading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.forecastItem {
  display: flex;
  gap: 0.5rem;
}

.time {
  width: 100px;
}

.saved {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.savedItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.savedHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.savedForecast {
  display: flex;
  gap: 0.5rem;
}

.savedForecastDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
}

.extra {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  margin: 0.25rem 0;
  gap: 0.125rem;
}

.alerts {
  margin: 0.25rem 0 0 1rem;
}

.smallIcon {
  width: 24px;
  height: 24px;
}

.day {
  font-weight: bold;
}
