.newspaper {
  background-color: rgba(239, 239, 239, 0.107);
  padding: 2rem;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.section {
  font-family: 'Times New Roman', serif;
  padding: 2rem 0;
  border-bottom: 1px solid #ccccccb7;
}

.heading {
  font-family: 'Times New Roman', serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
  border-bottom: 2px solid #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
