.slider {
  background:#c6bbbb00;
  color: #0000006d;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  text-align: center;
}

.item {
  display: block;
  font-weight: bold;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.25rem;
}

.dot {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.271);
  border: none;
  padding: 0;
  cursor: pointer;
}

.active {
  background: #fff;
}

.detail {
  text-align: left;
}

.detailImage {
  width: 100%;
  height: auto;
}

.detailFigure {
  margin: 0 0 0.5rem 0;
}

.detailCaption {
  font-size: 0.75rem;
  color: #0c0c0c;
  text-align: center;
}

.detailTitle {
  margin: 0.5rem 0;
  color: black;
}

.snippet {
  margin: 0.5rem 0;
  font-size: large;
}

.readMore {
  color: var(--ink);
  font-size: medium;
  text-decoration: underline;
}
