.footer {
  background: var(--primary);
  color: #ffffff;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
   background-image: url('/images/paper_background.webp');
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  font-size: 0.875rem;
  color: var(--muted);
   

}
