.form {
  display: flex;
  border: 2px solid transparent;
  border-radius: 999px;
  height: 2rem;
  overflow: hidden;
  background: linear-gradient(var(--background), var(--background)) padding-box,
    var(--metal-gradient) border-box;
}

.input {
  flex: 1;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  border: none;
  outline: none;
}

.button {
  padding: 0 1rem;
  background: none;
  color: var(--wt4q-blue);
  border: none;
  cursor: pointer;
  border-radius: inherit;
  transition: background 0.3s, transform 0.3s;
}

.button:hover {
  background: var(--metal-gradient);
  color: var(--metal-reflect);
  transform: scale(1.1);
}
