.form {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 12px;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-weight: 600;
}

.input {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--text-light);
}

.button {
  padding: 0.75rem;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}

.deleteSection {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.deleteButton {
  background: var(--error-red);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.message {
  text-align: center;
  margin-top: 2rem;
}
